<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Coronavirus Live Info</title>
    <link rel="icon" href="https://img.icons8.com/doodle/48/000000/coronavirus.png">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  var ampm = h >12 ? 'PM' : 'AM' ;
  h = h % 12;
  h = h ? h : 12;
  h = h <10 ? '0'+h :h ;
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  h + ":" + m + ":" + s + ' ' + ampm;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
} /*
  var date = new Date();
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  document.getElementById ('txt').innerHTML =
  hours + ':' + minutes + ' ' + ampm;
  //return strTime;
  */
</script>

    <style>
        .blink {
            animation: blinker 1s linear infinite;
            color: red;
            font-size: 50px;
            font-weight: bold;
            font-family: sans-serif;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        .blink-one {
            animation: blinker-one 1s linear infinite;
        }

        @keyframes blinker-one {
            0% {
                opacity: 0;
            }
        }

        .blink-two {
            animation: blinker-two 1.4s linear infinite;
        }

        @keyframes blinker-two {
            100% {
                opacity: 0;
            }
        }
    </style>

</head>

<body style="background-color: #15202b" onload="startTime()">

    <div class=" text-center">

        <h3 style="color: white;" class="p-3 bg-primary"> <i>Select Country</i> :
        <br> <br>
            <form action="" method="POST">
                {% csrf_token %}
            <select name = "dropdown" style="width: 100px;">
                <option value="India">India</option>
                <option value="All">Global</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Antigua-and-Barbuda">Antigua-and-Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bosnia-and-Herzegovina">Bosnia-and-Herzegovina</option>
                <option value="Brazil">Brazil</option>
                <option value="Brunei">Brunei</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina-Faso">Burkina-Faso</option>
                <option value="CAR">CAR</option>
                <option value="Cabo-Verde">Cabo-Verde</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Canada">Canada</option>
                <option value="Cayman-Islands">Cayman-Islands</option>
                <option value="Chad">Chad</option>
                <option value="Channel-Islands">Channel-Islands</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Colombia">Colombia</option>
                <option value="Congo">Congo</option>
                <option value="Costa-Rica">Costa-Rica</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Cura&ccedil;ao">Cura&ccedil;ao</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czechia">Czechia</option>
                <option value="DRC">DRC</option>
                <option value="Denmark">Denmark</option>
                <option value="Diamond-Princess-">Diamond-Princess-</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominican-Republic">Dominican-Republic</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="El-Salvador">El-Salvador</option>
                <option value="Equatorial-Guinea">Equatorial-Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia">Estonia</option>
                <option value="Eswatini">Eswatini</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Faeroe-Islands">Faeroe-Islands</option>
                <option value="Fiji">Fiji</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French-Guiana">French-Guiana</option>
                <option value="French-Polynesia">French-Polynesia</option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guinea">Guinea</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong-Kong">Hong-Kong</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Isle-of-Man">Isle-of-Man</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Ivory-Coast">Ivory-Coast</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Latvia">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Liberia">Liberia</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macao">Macao</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Malta">Malta</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Moldova">Moldova</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montenegro">Montenegro</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Namibia">Namibia</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherlands">Netherlands</option>
                <option value="New-Caledonia">New-Caledonia</option>
                <option value="New-Zealand">New-Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="North-Macedonia">North-Macedonia</option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Palestine">Palestine</option>
                <option value="Panama">Panama</option>
                <option value="Papua-New-Guinea">Papua-New-Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto-Rico">Puerto-Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Réunion">Réunion</option>
                <option value="Romania">Romania</option>
                <option value="Russia">Russia</option>
                <option value="Rwanda">Rwanda</option>
                <option value="S-Korea">S-Korea</option>
                <option value="Saint-Lucia">Saint-Lucia</option>
                <option value="Saint-Martin">Saint-Martin</option>
                <option value="San-Marino">San-Marino</option>
                <option value="Saudi-Arabia">Saudi-Arabia</option>
                <option value="Senegal">Senegal</option>
                <option value="Serbia">Serbia</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Singapore">Singapore</option>
                <option value="Sint-Maarten">Sint-Maarten</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Somalia">Somalia</option>
                <option value="South-Africa">South-Africa</option>
                <option value="Spain">Spain</option>
                <option value="Sri-Lanka">Sri-Lanka</option>
                <option value="St-Barth">St-Barth</option>
                <option value="St-Vincent-Grenadines">St-Vincent-Grenadines</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syria">Syria</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Tanzania">Tanzania</option>
                <option value="Thailand">Thailand</option>
                <option value="Timor-Leste">Timor-Leste</option>
                <option value="Togo">Togo</option>
                <option value="Trinidad-and-Tobago">Trinidad-and-Tobago</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="UAE">UAE</option>
                <option value="UK">UK</option>
                <option value="US-Virgin-Islands">US-Virgin-Islands</option>
                <option value="USA">USA</option>
                <option value="Uganda">Uganda</option>
                <option value="Ukraine">Ukraine</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vatican-City">Vatican-City</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
              </select>
                <br><br>
            <input type="submit" value="Fetch Data" style="color: seagreen;">
            </form>
            <br>
            <p class="blink">Live</p>
        </h3>
    </div>
    <div class=" text-center">
        <h3 style="color: white;" class="p-3 bg-primary"> Date : {% now  "j-F-Y" %} <br><div id="txt"></div> {% now  "l" %} </h3>
    </div>
    <div class="container">



        <section id="counter" class="section-padding">

            <div class="overlay"></div>

            <div class="container">

                <div class="row justify-content-between">

                    <div class="col-lg-12 col-md-12 col-xs-12">

                        <div class="mt-4 text-center row">

                            <!-- Start counter -->

                            <div class="bg-danger mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i></div>

                                    <div class="fact-count">
                                    <h2><span class="counter"> <b>{{all}}</b> </span></h2>

                                        <h3>All Cases</h3>

                                    </div>

                                </div>

                            </div>

                            <!-- End counter -->

                            <!-- Start counter -->

                            <div class="bg-success mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i></div>

                                    <div class="fact-count">

                                        <h2><span class="counter"> <b>{{recovered}}</b> </span></h2>

                                        <h3>Recovered</h3>

                                    </div>

                                </div>

                            </div>

                            <!-- End counter -->

                            <!-- Start counter -->
                            <div class="bg-warning mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i></div>

                                    <div class="fact-count">

                                        <h2><span class="counter"> <b>{{active}}</b> </span></h2>

                                        <h3>Active Cases</h3>

                                    </div>

                                </div>

                            </div>

                            <!-- End counter -->
                            <!-- Start counter -->

                            <div class="bg-secondary mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i></div>

                                    <div class="fact-count">

                                        <h2><span class="counter"> <b>{{deaths}}</b> </span></h2>

                                        <h3>Deaths</h3>

                                    </div>

                                </div>

                            </div>

                            <!-- End counter -->
                            <!-- Start counter -->

                            <div class="bg-secondary mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i></div>

                                    <div class="fact-count">

                                        <h2><span class="counter"> <b>{{new_deaths}}</b> </span></h2>

                                        <h3>New Deaths</h3>

                                    </div>

                                </div>

                            </div>

                            <!-- End counter -->
                            <!-- Start counter -->

                            <div class="bg-warning mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i></div>

                                    <div class="fact-count">

                                        <h2><span class="counter"> <b>{{new}}</b> </span></h2>

                                        <h3>New Cases</h3>

                                    </div>

                                </div>

                            </div>

                            <!-- End counter -->

                            <!-- Start counter -->

                            <div class="bg-info mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i>
                                    </div>

                                    <div class="fact-count">

                                        <h2><span class="counter"> <b>{{critical}}</b> </span></h2>

                                        <h3>Critical cases</h3>

                                    </div>

                                </div>

                            </div>
                            <!-- End counter -->

                            <!-- Start counter -->
                            <div class="bg-info mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i>
                                    </div>

                                    <div class="fact-count">

                                        <h2 class= "count"> <b>{{tests}}</b> </h2>

                                        <h3>Total Tests</h3>

                                    </div>

                                </div>

                            </div>


                            <!-- End counter -->
                            <!-- Start counter -->
                            <div class="bg-info mb-3 m-2 rounded-lg p-3 col-lg-3 col-md-6 col-xs-12">

                                <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">

                                    <div class="icon-o"><i class="lni-users"></i>
                                    </div>

                                    <div class="fact-count">

                                        <h2><span class="counter"> <b>Visitor Count</b> </span></h2>
                                         <!--<h3> Visitor Count :</h3> -->
                                         <!--<h3>Stay Safe!</h3> -->
                                         <!-- Start of WebFreeCounter Code -->
<img src="https://www.webfreecounter.com/hit.php?id=gvveaodan&nd=6&style=32" border="0" alt="free counter">
<!-- End of WebFreeCounter Code -->

                                    </div>

                                </div>

                            </div>


                            <!-- End counter -->

                        </div>

                    </div>

                </div>

            </div>

        </section>


        <!-- Counter Section End -->



    </div>

    <footer>

        <div class="text-center">

            <p class="bg-success"><strong>Developed by : Rajat Mittal, &nbsp; JK Institute of Applied Physics and
                    Technology, University of Allahabad </strong> <br> <strong>Connect Me on : &nbsp; </strong>
                <a href="https://www.facebook.com/rajatenzyme" target="_blank" style="color:black;"><strong>Facebook
                        &nbsp; </strong></a>
                <a href="https://www.instagram.com/rajat_enzyme" target="_blank" style="color:black;"><strong>Instagram
                        &nbsp; </strong></a>
                <a href="https://www.linkedin.com/in/rajatenzyme" target="_blank" style="color:black;"><strong>Linkedin
                        &nbsp; </strong></a>
                <a href="https://www.github.com/rajatenzyme" target="_blank" style="color:black;"><strong>Github
                        &nbsp; </strong></a>
            </p>

        </div>

    </footer>
    <script>

$('.count').counterUp({
  		delay:10,
  		time:300
   	})
   	</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>